@charset "UTF-8";

:root {
    --cor-primaria: #013452ee;
    --cor-secundaria: #252525c5;
    --cor-terciaria: #ffffff;
    --cor-quarternaria: #323F70;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rig Sans', sans-serif, Arial, Helvetica;
}

*::selection {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}


@media screen and (min-height: 700px) {
    html {
        height: 100vh;
    }
}

body {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;   
    color: var(--cor-terciaria);
    background: linear-gradient(var(--cor-primaria), var(--cor-secundaria)), url(midias/background.jpg);
    background-size: cover;
    background-position: center left;
}

header {
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

header > img {
    box-shadow: 3px 3px 3px #323f708f;
    border: 4px solid var(--cor-primaria);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

header > p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.3rem;
}

header > p >span{
    font-size: 1.5rem;
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

main > a {
    color: var(--cor-terciaria);
    width: 90%;
    text-align: center;
}

main > a > button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    border: 4px solid var(--cor-primaria);
    padding: 10px;
    width: 90%;
    font-weight: bold;
    font-size: 1rem;
    max-width: 1000px;
    color: var(--cor-terciaria);
}

main > a > button:hover {
    background-color: var(--cor-primaria);
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

footer {
    padding: 10px;
    align-items: flex-end;
    display: flex;
    text-align: center;
    flex-grow: 1;
}
