@charset "UTF-8";

:root {
    --cor-primaria: #06405aea;
    --cor-secundaria: #171717ca;
    --cor-terciaria: #B6C2F2;
    --cor-quarternaria: #323F70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: linear-gradient(var(--cor-primaria), var(--cor-secundaria));        
}
  
body::-webkit-scrollbar-thumb {
  background-color: #9f9f9f95;
  border-radius: 20px;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Rig Sans', sans-serif;
    background-color: #000;
}

#root {
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--cor-primaria), var(--cor-secundaria)), url(../img/background.webp);
    background-size: cover;
    background-repeat: repeat;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
    text-align: center;
}

#logotipo {
    width: 150px;
    clip-path: circle();
}

header > h2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 310px;
}

header #skill {
    color: #3d7084;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

main > .Btnlinks {
    display: flex;
    flex-direction: column;
    border: 3px solid #06405aea;
    border-radius: 28px;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

main > .Btnlinks:hover {
    transition: .5s;
    background-color: var(--cor-primaria);
}

footer {
    text-align: center;
    padding-bottom: 10px;
}