.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    flex-basis: 100%;
}


.photo {
    width: 150px;
    clip-path: circle();
}

.dev {
    color: var(--primary);
    font-weight: 500;
}